<mat-card>
  <mat-card-header class="">
    <h1>Associate List</h1>
    <div class="flex justify-end flex-1">
      <button mat-raised-button color="primary" (click)="onCreate()">
        Add Associate (+)
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam animi
    voluptate deserunt hic, distinctio natus sint beatae, porro fugiat, rem eum!
    Error praesentium eius eveniet ad ipsum non doloremque id?
  </mat-card-content>
</mat-card>
